<nav class="navbar navbar-expand-lg navbar-dark px-4">
    <a class="navbar-brand fw-bold" href="home">
        <img src="assets/images/logo.png" alt="Mobify Logo" width="100px" height="50px" class="me-2">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
            <li class="nav-item">
                <a class="btn btn-outline-light nav-btn mx-2 my-1 my-lg-0" routerLink="/seller-dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light nav-btn mx-2 my-1 my-lg-0" routerLink="/addproduct">Add Products</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light nav-btn mx-2 my-1 my-lg-0" routerLink="/showproduct">My Products</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light nav-btn mx-2 my-1 my-lg-0" routerLink="/seller-order">Orders</a>
            </li>
        </ul>

        <ul class="navbar-nav me-0 me-lg-2">
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link d-flex align-items-center fw-semibold" href="seller-profile">
                    <i class="bi bi-person-circle fs-5 me-1 text-light"></i> <strong class="text-light">Profile</strong>
                </a>
            </li>
        </ul>
    </div>
</nav>