<nav class="navbar-custom d-flex align-items-center justify-content-between px-4 py-4">
   
    <a class="navbar-brand fw-bold" href="#">
        <img src="assets/images/mobify.png" alt="Mobify Logo" height="40" class="me-2">
    </a>

    <ul class="nav ms-start gap-4 offset-7">
        <li class="nav-item">
            <a class="btn btn-outline-light nav-btn" routerLink="/seller-dashboard">Home</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light nav-btn" routerLink="/addproduct">Add Products</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light nav-btn" routerLink="/showproduct">My Products</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light nav-btn" routerLink="/seller-order">Orders</a>
        </li>

    </ul>

    <ul class="navbar-nav ms-4"> 
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link d-flex align-items-center fw-semibold" href="seller-profile">
                <i class="bi bi-person-circle fs-5 me-2"> </i> Profile
            </a>
        </li>
    </ul>

</nav>