.navbar {
  font-family: 'Segoe UI', sans-serif;
   background: linear-gradient(90deg, #1c2340, #3b185f);
}

.navbar .btn {
  border-radius: 7px;
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  transform: scale(1.05);
}

.navbar .form-control {
  border-radius: 7px;
  box-shadow: none;
}

@media (max-width: 991px) {
  .navbar .btn{
    width: 100%;
    margin-bottom: 0.5rem;
  }

}
