.bg-wrapper {
    background: url('/assets/images/cback.jpg') center/cover no-repeat;
    min-height: 100vh;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

.search-bar {
    width: 50%;
}

@media (max-width: 992px) {
    .search-bar {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar ul {
        flex-direction: column;
        margin-top: 10px;
    }
}

.contact-page {
    margin-top: 150px;
    background: linear-gradient(transparent, white);
   
}

.contact-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    animation: pulseShadow 3s infinite ease-in-out;
    border-radius: 12px;
}

@keyframes pulseShadow {
    0% {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.5);
    }

    100% {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    }
}


.contact-box {
    font-size: 15px;
}

.contact-box i {
    color: #333;
}

.contact-box.bg-dark i {
    color: white;
}

.social a {
    color: #333;
    transition: 0.3s;
}

.social a:hover {
    color: #0d6efd;
}

textarea {
    resize: none;
    min-height: 150px;
}