<div class="container-fluid">
    <div class="register-wrapper">
        <div class="register-left d-flex flex-column justify-content-center align-items-center d-none d-md-flex">
            <div class="overlay"></div>
            <h1 class="text-white">Photography</h1>
            <p class="text-white">Click for your shoot. Journey everywhere.</p>
        </div>

        <div class="register-right">
            <div class="form-container animate-slide-in">
                <a class="navbar-brand fw-bold" routerLink="/home" style="cursor: pointer;">
                    <img src="assets/images/logo.png" alt="Mobify Logo" width="100px" height="50px" class="me-2">
                </a>
                <h2 class="mb-4 text-center">Forgot Password</h2>


                <div *ngIf="step === 1">
                    <label>Email</label>
                    <input type="email" class="form-control mb-3" [(ngModel)]="email"
                        placeholder="Enter your registered email" />
                    <button class="btn btn-primary w-100 p-2" (click)="sendOtp()" [disabled]="loading">
                        {{ loading ? 'Sending...' : 'Send OTP' }}
                    </button>
                     <button class="btn btn-danger w-100 mt-2 p-2" (click)="back()">
                        Back
                    </button>
                </div>

                <div *ngIf="step === 2">
                    <label>Enter OTP</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="otp" placeholder="Enter 6-digit OTP" />
                    <button class="btn btn-success w-100" (click)="verifyOtp()" [disabled]="loading">
                        {{ loading ? 'Verifying...' : 'Verify OTP' }}
                    </button>
                </div>

                <div *ngIf="step === 3">
                    <label>New Password</label>
                    <input type="password" class="form-control mb-2" [(ngModel)]="newPassword"
                        placeholder="New password" />
                    <label>Confirm Password</label>
                    <input type="password" class="form-control mb-3" [(ngModel)]="confirmPassword"
                        placeholder="Confirm password" />
                    <button class="btn btn-primary w-100" (click)="resetPassword()" [disabled]="loading">
                        {{ loading ? 'Updating...' : 'Reset Password' }}
                    </button>
                </div>

                <!-- <p class="text-center text-danger mt-3">{{ message }}</p> -->

            </div>
        </div>
    </div>
</div>