.navbar .nav-link {
    color: #fff !important;
    margin: 0 8px;
    transition: 0.3s;
}

.navbar .nav-link :active {
    color: #ffc107;
}

.navbar .nav-link:hover {
    color: #ffc107 !important;
}

.navbar-brand {
    font-size: 1.4rem;
}

form input {
    border: 1px solid #ddd;
}

form button {
    font-weight: 500;
}

.searchform {
    visibility: hidden;
}