
.navbar-custom {
  background: linear-gradient(90deg, #1c2340, #3b185f);

}

.navbar-custom .btn {
  font-weight: 500;
}

.navbar-custom .btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}