<div class="container">
  <div class="register-wrapper">
    <div class="register-left d-flex flex-column justify-content-center align-items-center d-none d-md-flex">
      <div class="overlay"></div>
      <h1 class="text-white">Photography</h1>
      <p class="text-white">Click for your shoot. Journey everywhere.</p>
    </div>

    <div class="register-right">
      <div class="form-container animate-slide-in">
        <h2 class="mb-4 text-center">Login Here</h2>

        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <form (ngSubmit)="submit()">
          <div class="mb-3">
            <label>Email</label>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label>Password</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" required>
          </div>
          <div class="mb-3">
            <label>Role</label>
            <select [(ngModel)]="role" name="role" class="form-select">
              <option>Customer</option>
              <option>Seller</option>
            </select>
          </div>

          <button class="btn btn-primary mt-2" type="submit">Login</button>
          <button type="submit" class="btn btn-success mt-3" routerLink="/customerregister">
            Register for Customer
          </button>
          <button type="submit" class="btn btn-success mt-3" routerLink="/sellerregister">
            Register for Seller
          </button>
        </form>
      </div>
    </div>
  </div>
</div>