<app-customer-nav></app-customer-nav>

<div class="profile-page-wrapper d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center bg-light rounded-4 shadow">
            <div
              class="col-md-4 profile-form text-center gradient-left text-dark d-flex flex-column align-items-center justify-content-center rounded-4">


              <img [src]="customerForm.value.profilePictureUrl || 'assets/images/dummy.jpg'" alt="Profile Picture"
                class="profile-photo mb-3 rounded-circle shadow">


              <h3 class="fw-bold mb-1">{{ customerForm.value?.customerName }}</h3>
              <p class="mb-3">{{ customerForm.value.email }}</p>

              <button class="btn btn-danger fw-semibold px-4 shadow btn-animate" (click)="logout()">Logout</button>
            </div>

          
            <div class="col-md-8 p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="fw-bold mb-0">Profile Settings</h4>
                <button class="btn btn-outline-primary btn shadow btn-animate" (click)="toggleEdit()">
                  <i class="bi" [ngClass]="isEditing ? 'bi-x-circle' : 'bi-pencil-square'"></i>
                  {{ isEditing ? 'Cancel' : 'Edit' }}
                </button>
              </div>

              <form [formGroup]="customerForm" class="profile-form">
                <div class="row g-4">

                  <div class="col-md-6">
                    <label class="form-label">Customer Name</label>
                    <input formControlName="customerName" class="form-control rounded-3 input-animate"
                      [readonly]="!isEditing">
                  </div>

                  <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input formControlName="email" class="form-control rounded-3 input-animate" [readonly]="!isEditing">
                  </div>

                  <div class="col-md-6">
                    <label class="form-label">Contact</label>
                    <input formControlName="contact" class="form-control rounded-3 input-animate"
                      [readonly]="!isEditing">
                  </div>

                  <div class="col-md-6">
                    <label class="form-label">City</label>
                    <input formControlName="city" class="form-control rounded-3 input-animate" [readonly]="!isEditing">
                  </div>

                  <div class="col-md-6">
                    <label class="form-label">Gender</label>
                    <input type="text" formControlName="gender" class="form-control rounded-3 input-animate"
                      [readonly]="!isEditing">
                  </div>

                  <div class="col-md-6">
                    <label class="form-label">Created On</label>
                    <input formControlName="creadedOn" class="form-control rounded-3" readonly>
                  </div>
                </div>

                <button *ngIf="isEditing" class="btn btn-success mt-4 px-4 shadow btn-animate" type="button"
                  (click)="updateProfile()">
                  <i class="bi bi-check2-circle"></i> Save Profile
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>