/* Top subscribe section */
.subscribe-section {
    background-color: #2d3345;
    padding: 30px 60px;
}

/* Footer background */
.footer-section {
    background-color: #121829;
    font-size: 14px;
}

.footer-section ul li {
    margin-bottom: 8px;
    color: #bdbdbd;
}

.footer-section ul li:hover {
    color: #ffffff;
    cursor: pointer;
}

.social-icons a {
    color: #bdbdbd;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #00cba9;
}