<footer class="footer-section">
    <div class="container-fluid py-3 text-center">

        <div class="top-footer py-3">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Left Text -->
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        <h2 class="text-white">
                            <span class="text-success">Free</span> until you’re ready to launch
                        </h2>
                    </div>
                    <!-- Input + Button -->
                    <div class="col-lg-6 d-flex justify-content-lg-end">
                        <input type="text" class="form-control me-2" placeholder="Enter Your ph.no">
                        <button class="btn btn-teal">Request Code</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer py-5">
            <div class="container">
                <div class="row text-white">
                    <!-- Products -->
                    <div class="col-md-3 col-6 mb-3">
                        <h6 class="fw-bold">PRODUCTS</h6>
                        <ul class="list-unstyled">
                            <li>Drag And Drop</li>
                            <li>Visual Studio X</li>
                            <li>Easy Content</li>
                        </ul>
                    </div>

                    <!-- Resources -->
                    <div class="col-md-3 col-6 mb-3">
                        <h6 class="fw-bold">RESOURCES</h6>
                        <ul class="list-unstyled">
                            <li>Industries and tools</li>
                            <li>Use cases</li>
                            <li>Blog</li>
                            <li>Online event</li>
                            <li>Nostrud exercitation</li>
                        </ul>
                    </div>

                    <!-- Company -->
                    <div class="col-md-3 col-6 mb-3">
                        <h6 class="fw-bold">COMPANY</h6>
                        <ul class="list-unstyled">
                            <li>Diversity & inclusion</li>
                            <li>About us</li>
                            <li>Press</li>
                            <li>Customer Stories</li>
                            <li>Online communities</li>
                        </ul>
                    </div>

                    <!-- Support -->
                    <div class="col-md-3 col-6 mb-3">
                        <h6 class="fw-bold">SUPPORT</h6>
                        <ul class="list-unstyled">
                            <li>Documentation</li>
                            <li>Tutorials & guides</li>
                            <li>Webinars</li>
                            <li>Open-source</li>
                        </ul>
                    </div>
                </div>

                <div
                    class="footer-bottom mt-4 d-flex flex-column flex-lg-row justify-content-between align-items-center ">
                    <p class="mb-2 mb-lg-0 text-white ">© 2020 Appy. All rights reserved.</p>
                    <p class="mb-2 mb-lg-0 text-white">Terms · Privacy Policy</p>
                    <div>
                        <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="text-white me-3"><i class="bi bi-github"></i></a>
                        <a href="#" class="text-white me-3"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>