<div *ngIf="visible" class="toast-overlay"></div>

<div *ngIf="visible" class="toast-box position-fixed top-0 start-50 translate-middle-x mt-5 text-center"
    style="z-index: 2000;">
  <div class="toast-content d-flex align-items-center gap-3 px-4 py-3 shadow-lg border-0" [ngClass]="toastClass">

    <i [ngClass]="toastIcon" class="fs-3"></i>

    <div class="flex-grow-1 text-start">
      <strong>{{ message }}</strong>
    </div>

    <button type="button" class="btn-close" [ngClass]="{'btn-close-white': type !== 'warning'}" aria-label="Close"
        (click)="visible = false"></button>
  </div>
</div>
