<app-seller-nav></app-seller-nav>
<div class="container mt-4">
    <div class="d-lg-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-5">My Orders</h3>

        <div class="d-flex gap-2 align-items-center flex-wrap flex-lg-nowrap">l
            <label>From:</label>
            <input type="date" [(ngModel)]="filterFrom" class="form-control form-control">

            <label>To:</label>
            <input type="date" [(ngModel)]="filterTo" class="form-control form-control">

            <button class="btn btn-secondary" (click)="applyFilter()">Filter</button>
            <button class="btn btn-secondary" (click)="resetFilter()">Reset</button>
            <button class="btn btn-primary ms-auto" (click)="exportPDF()">Export</button>
        </div>


    </div>


    <div class="row g-4 mb-5" #ordersContent>
        <div class="col-md-3 " *ngFor="let order of filteredOrders">
            <div class="card h-100 col-shadow rounded-3">
                <div id="carousel{{order.id}}" class="carousel slide m-0" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" *ngIf="order.product.images.image1">
                            <img [src]="'data:image/png;base64,' + order.product.images.image1" class="d-block mx-auto"
                                alt="Image 1" width="200px" height="200px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel{{order.id}}"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel{{order.id}}"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>

                <div class="card-body m-0">
                    <h5 class="card-title mb-0">{{ order.product.name }}</h5>
                    <p class="mb-0"><strong class="fw-light">Company:</strong> {{ order.product.company }}</p>
                    <p class="mb-0"><strong class="fw-light">Quantity:</strong> {{ order.quantity }}</p>
                    <p class="mb-0"><strong class="fw-light">Total Price:</strong> ₹{{ order.totalPrice }}</p>
                    <p class="mb-0"><strong class="fw-light">Receiver Name:</strong> {{ order.receiverName}}</p>
                    <p class="mb-0"><strong class="fw-light">Receiver Contact No:</strong> {{ order.receiverContactNumber}}</p>
                    <p class="mb-0"><strong class="fw-light">Order Address:</strong> {{ order.orderAddress }}</p>
                    <p class="mb-0"><strong class="fw-light">PostalCode:</strong> {{ order.postalCode}}</p>
                    <p class="mb-0"><strong class="fw-light">Order Date:</strong> ₹{{ order.createdOn |
                        date:'dd-MM-yyyy'}}</p>
                    <hr class="my-1">
                    <h6 class="mb-0 fw-bold">Customer Info:</h6>
                    <p class="mb-0"><strong class="fw-light">Name:</strong> {{ order.customer.name }}</p>
                    <p class="mb-0"><strong class="fw-light">Contact:</strong> {{ order.customer.contact }}</p>
                    <!-- <p class="mb-0"><strong class="fw-light">Gender:</strong> {{ order.customer.gender }}</p>
                    <p class="mb-0"><strong class="fw-light">City:</strong> {{ order.customer.city }}</p>
                    <p class="mb-0"><strong class="fw-light">Email:</strong> {{ order.customer.email }}</p> -->

                </div>

            </div>
        </div>
    </div>
</div>