.main-image {
  height: 320px;
  object-fit: contain;
}

.thumb-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.thumb-img:hover {
  transform: scale(1.05);
}

.table td {
  padding: 6px 12px;
}

.btn-lg {
  padding: 10px 20px;
  font-weight: 500;
}

.badge {
  font-size: 0.8rem;
}






.card-img-top {
    width: 100%;
    height: 220px;
    object-fit: contain;
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     cursor: pointer;
}

.product-img {
    width: 100%;
    height: 220px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.carousel img {
    height: 300px;
    object-fit: contain;
}


.card:hover {
    transform: translateY(-5px) scale(1.01);
}