
.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
  /* background: linear-gradient(135deg, #ffffff, #f1f3f5); */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  color: white;
}

.hover-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);}
  /* background: linear-gradient(135deg, #e9f7ff, #ffffff);  */

.card-body h6 {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #495057;
}

.card-body p.fs-4 {
  font-weight: 700;
}

.card-body p.small {
  color: #6c757d;
}

button.btn-primary {
  background-color: #4e73df;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button.btn-primary:hover {
  background-color: #2e59d9;
  transform: scale(1.05);
}

button.btn-secondary {
  background-color: grey;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button.btn-secondary:hover {
  background-color: rgb(158, 157, 157);
  transform: scale(1.05);
}

button.btn-secondary {
  background-color: #858796;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button.btn-secondary:hover {
  background-color: #6c757d;
  transform: scale(1.05);
}

label.fw-semibold {
  font-weight: 600;
  color: #495057;
}
