.product-card {
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}