<app-seller-nav></app-seller-nav>

<app-toast #toast></app-toast> 
<app-confirm-modal #confirmModal (onConfirm)="onConfirmDelete()" (onCancel)="onCancelDelete()"></app-confirm-modal>

<div class="container py-4">
    <h2 class="mb-3">My Products</h2>

    <div *ngIf="loading" class="text-center my-3">
        <div class="spinner-border text-primary" role="status"></div>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    
            <div class="row g-4">
            <div class="col-md-3 col-sm-6" *ngFor="let product of products">
                <div class="card shadow-lg border-0 rounded-4 h-100">
                    <img *ngIf="product.image1Base64" [src]="'data:image/png;base64,'+product.image1Base64"
                        class="card-img-top rounded-top-4" alt="Mobile image" />

                    <div class="card-body">
                        <h6 class="text-secondary mb-1">{{product.productCompany}}</h6>
                        <h5 class="card-title fw-semibold">{{ product.productName }}</h5>

                        <p class="mb-1 text-muted small">
                            {{product.ram}} | {{product.storage}} | {{product.color}}
                        </p>

                        <p class="fw-bold text-success fs-5 mb-0">₹{{ product.price }}</p>
                        <p class="text-muted small mb-2">{{product.condition}}</p>
                        <button class="btn btn-danger w-100" (click)="promptDelete(product.productId)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
</div>
