<app-seller-nav></app-seller-nav>

<app-toast #toast></app-toast> 
<app-confirm-modal #confirmModal (onConfirm)="onConfirmDelete()" (onCancel)="onCancelDelete()"></app-confirm-modal>

<div class="container py-4">
    <h2 class="mb-3">My Products</h2>

    <div *ngIf="loading" class="text-center my-3">
        <div class="spinner-border text-primary" role="status"></div>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <div class="row g-4">
        <div class="col-md-3 col-sm-6" *ngFor="let product of products; let i = index">
            <div class="card h-100 shadow-sm rounded-3 loaded">
                <img *ngIf="product.image1Base64" [src]="'data:image/png;base64,'+product.image1Base64"
                    class="card-img-top" alt="{{product.productName}}" />
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName }}</h5>
                    <p><strong>Company:</strong> {{ product.productCompany }}</p>
                    <p><strong>Price:</strong> ₹{{ product.price }}</p>
                    <button class="btn btn-danger w-100" (click)="promptDelete(product.productId)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
